
*.swp

resources/report/js/out
resources/report/js/out-prod
resources/report/js/report.js
resources/report/js/report.js.map
resources/report/js/report-prod.js

resources/report/symbol-data.edn

target/

figwheel_server.log

hosted/

.idea/
*.iml
*.nrepl*

.lein-repl-history
repos/
